# TH2 - câu 5 - python

## Import packages

In [2]:
import pandas as pd

## Prepare data frames

In [13]:
df = pd.read_csv('datasets/Full_Mark_2020.csv', low_memory=False)

df

,Unnamed: 0,Code,Diali,GDCD,Hoahoc,KHTN,KHXH,LichSu,Ngoaingu,Nguvan,Sinhhoc,Toan,Vatli,city
0,0,44000001,NaN,NaN,8.00,7.08,NaN,NaN,4.4,7.50,5.50,8.4,7.75,44
1,1,44000002,NaN,NaN,8.25,7.17,NaN,NaN,NaN,6.00,6.25,7.6,7.00,44
2,2,44000003,NaN,NaN,4.50,4.92,NaN,NaN,4.0,5.00,5.75,7.0,4.50,44
3,3,44000004,7.50,9.25,NaN,NaN,8.67,9.25,7.4,6.75,NaN,7.2,NaN,44
4,4,44000005,8.00,9.00,NaN,NaN,8.50,8.50,9.2,7.00,NaN,7.6,NaN,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051855,1051855,13007414,5.25,4.25,NaN,NaN,4.08,2.75,2.8,4.00,NaN,3.6,NaN,13
1051856,1051856,13007415,5.25,6.25,NaN,NaN,5.83,6.00,3.8,5.50,NaN,4.6,NaN,13
1051857,1051857,13007416,5.75,8.50,NaN,NaN,6.67,5.75,3.4,5.00,NaN,5.4,NaN,13
1051858,1051858,13007417,7.25,6.75,NaN,NaN,6.25,4.75,2.2,4.50,NaN,5.2,NaN,13
1051859,1051859,13007418,3.75,4.00,NaN,NaN,3.83,3.75,4.0,4.00,NaN,6.2,NaN,13

## Calculate mean, mode, median, standard deviation

In [20]:
mean = df["Toan"].mean()
mode = df["Toan"].mode()
median = df["Toan"].median()
std = df["Toan"].std()

print(f"Mean: {mean}")
print(f"Mode: {mode}")
print(f"Median: {median}")
print(f"Standard deviation: {std}")

Mean: 6.716490670567575
Mode: 0    8.0
Name: Toan, dtype: float64
Median: 7.0
Standard deviation: 1.8209654068698604

## Equal-width

In [39]:
arr = [3, 5, 11, 12, 20, 24]
k=3

pd.cut(arr, k)

[(2.979, 10.0], (2.979, 10.0], (10.0, 17.0], (10.0, 17.0], (17.0, 24.0], (17.0, 24.0]]
Categories (3, interval[float64, right]): [(2.979, 10.0] < (10.0, 17.0] < (17.0, 24.0]]


## Equal Frequency

In [85]:
arr = [3, 5, 11, 12, 20]
k=2

borders = []
i = 0

while i < len(arr):
    border = [0,0]

    if i == 0:
        border[0] = arr[i]
    else:
        border[0] = (arr[i] + arr[i-1]) / 2

    if i == len(arr) - 1:
        border[1] = arr[i]
    else:
        try:
            border[1] = (arr[i+k-1] + arr[i+k]) / 2
        except:
            border[1] = (arr[i+k-1] + arr[-1]) / 2

    borders.append(border)
    i+=1

borders

[[3, 8.0], [4.0, 11.5], [8.0, 16.0], [11.5, 20.0], [16.0, 20]]