In [2]:
import pandas as pd
import regex as re

## Import data

In [3]:
df = pd.read_csv('datasets/car.csv', delimiter='|', error_bad_lines=False)

df

C:\Users\dinhd\AppData\Local\Temp\ipykernel_2496\3065570601.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('datasets/car.csv', delimiter='|', error_bad_lines=False)
b'Skipping line 26482: expected 18 fields, saw 19\n'

,car_model,km,imp_exp,km_1,imp_exp_1,car_type,out_color,in_color,door_num,seat_num,new_old,car_year,title,price,area,poster_name,poster_add,poster_tel
0,acura-mdx,0 Km,Nhập khẩu,0 Km,Nhập khẩu,SUV,Đen,Đen,5 cửa,7 chỗ,Xe cũ,2007,Acura MDX SH-AWD - 2007,630 Triệu,TP HCM,Liên hệ: Salon ô tô Thịnh Lợi,"Số 56+58+60 (C3/1 cũ) Phạm Hùng, Bình Chánh TP...",ĐT: 0961 258 258 - 0943 331 999
1,acura-mdx,0 Km,Nhập khẩu,0 Km,Nhập khẩu,SUV,Bạc,Đen,5 cửa,7 chỗ,Xe cũ,2007,Acura MDX SH-AWD - 2007,580 Triệu,Hà Nội,Liên hệ: Ngô Quốc Huy,Nguyễn khánh toán Hà Nội,ĐT: 0903 245 739
2,acura-mdx,0 Km,Nhập khẩu,0 Km,Nhập khẩu,SUV,Bạc,Nhiều màu,5 cửa,7 chỗ,Xe cũ,2006,Acura MDX SH-AWD - 2006,465 Triệu,TP HCM,Liên hệ: Salon Auto Toàn Phát,"C1/25 Phạm Hùng Chánh Hưng, Bình Chánh TP HCM",ĐT: 0903 951 109 - 0938 595 373
3,acura-mdx,0 Km,Nhập khẩu,0 Km,Nhập khẩu,SUV,Đen,Kem,5 cửa,7 chỗ,Xe mới,2016,Acura MDX 3.5L - 2016,4 Tỷ 665 Triệu,TP HCM,Liên hệ: Ôtô Ngọc Danh,"C3/02 Phạm Hùng, Quận 8 TP HCM",ĐT: 0919 726 666
4,acura-mdx,"9,600 Km",Nhập khẩu,"9,600 Km",Nhập khẩu,SUV,Trắng,Cát,5 cửa,7 chỗ,Xe cũ,2015,Acura MDX 3.5L - 2015,3 Tỷ 400 Triệu,TP HCM,Liên hệ: Siêu Thị Ô Tô An Sương,"Nguyễn Ảnh Thủ, Bà Điểm, Hóc Môn TP HCM",ĐT: 0789 455 699 - 0993 777 977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39416,hang_khac,0 Km,Nhập khẩu,0 Km,Nhập khẩu,Truck,Trắng,Màu khác,2 cửa,2 chỗ,Xe cũ,2015,Đầu kéo mỹ - 2015,1 Tỷ 515 Triệu,Bình Dương,Liên hệ: Nguyễn Văn Mai,"10/9 Ql13, Khu Phố Tây, P. Vĩnh phú, Thuận An ...",ĐT: 0929 693 607
39417,hang_khac,0 Km,Lắp ráp trong nước,0 Km,Lắp ráp trong nước,Truck,Xanh,Màu khác,2 cửa,3 chỗ,Xe cũ,2011,Chiến Thắng - 2011,105 Triệu,Đăk Nông,Liên hệ: Thanh Tam,TP Buôn Ma Thuột Đăk Nông,ĐT: 0948 608 479
39418,hang_khac,"25,000 Km",Lắp ráp trong nước,"25,000 Km",Lắp ráp trong nước,Van/Minivan,Đen,Xanh,1 cửa,29 chỗ,Xe cũ,2017,FUSO - 2017,1 Tỷ 150 Triệu,Hà Nội,Liên hệ: Buitrunghau,"Phường hợp giang, tp cao bằng, cao bằng Hà Nội",ĐT: 0916 949 883
39419,hang_khac,0 Km,Lắp ráp trong nước,0 Km,Lắp ráp trong nước,Truck,Xanh,Màu khác,2 cửa,3 chỗ,Xe cũ,2008,Jac - 2008,80 Triệu,Gia Lai,Liên hệ: Tuệ Nguyễn Gioan,TP Pleiku Gia Lai,ĐT: 0985 161 280
39420,hang_khac,0 Km,Lắp ráp trong nước,0 Km,Lắp ráp trong nước,Truck,Xanh,-,2 cửa,3 chỗ,Xe cũ,2008,Hoa Mai - 2008,65 Triệu,Quảng Bình,Liên hệ: Phạm Vũ Thăng,Phường Nam Lý- Tp Đồng Hới - Quảng Bình Quảng ...,ĐT: 0949 234 234 - 0964 234 234

## Normalize "km" filed

In [4]:
WEIGHT = 1

def number_km(km):
    km = re.findall(r'[\d,]+', km)
    km = re.sub(r'[,]+', '', km[0])
    return int(km)

df['number_km'] = df['km'].apply(number_km)

max_km = df['number_km'].max()
min_km = df['number_km'].min()

def normalize_km(km):
    return (km - min_km) / (max_km - min_km) * WEIGHT

df['normalized_km'] = df['number_km'].apply(normalize_km)

## Normalize "imp_exp" filed

In [5]:
WEIGHT = 1

def normalize_imp_exp(imp_exp):
    result = 0
    if imp_exp == 'Nhập khẩu':
        result = 1
    return result * WEIGHT

df['normalized_imp_exp'] = df['imp_exp'].apply(normalize_imp_exp)

## Normalize "car_type" filed

In [6]:
WEIGHT = 1

types = {
    'SUV': 1,
    'Coupe': 0.9,
    'Sedan': 0.8,
    'Crossover': 0.7,
    'Convertible/Cabriolet': 0.6,
    'Hatchback': 0.5,
    'Van/Minivan': 0.4,
    'Bán tải / Pickup': 0.3,
    'Truck': 0.2,
    'Wagon': 0,
}

def normalize_car_type(car_type):
    return types[car_type] * WEIGHT

df['normalized_car_type'] = df['car_type'].apply(normalize_car_type)

## Normalize "out_color" filed

In [7]:
WEIGHT = 1

types = {
    'Đen': 1,
    'Nâu': 1,
    'Tím': 0.8,
    'Đồng': 0.7,
    'Đỏ': 0.6,
    '-': 0.5,
    'Nhiều màu': 0.5,
    'Màu khác': 0.5,
    'Hồng': 0.4,
    'Kem': 0.4,
    'Cam': 0.3,
    'Cát': 0.3,
    'Vàng': 0.3,
    'Ghi': 0.2,
    'Xanh': 0.1,
    'Xám': 0.1,
    'Bạc': 0,
    'Trắng': 0,
}

def normalize_out_color(out_color):
    return types[out_color] * WEIGHT

df['normalized_out_color'] = df['out_color'].apply(normalize_out_color)

## Normalize "in_color" filed

In [8]:
WEIGHT = 1

types = {
    'Đen': 1,
    'Nâu': 1,
    'Tím': 0.8,
    'Đồng': 0.7,
    'Đỏ': 0.6,
    '-': 0.5,
    'Nhiều màu': 0.5,
    'Màu khác': 0.5,
    'Hồng': 0.4,
    'Kem': 0.4,
    'Cam': 0.3,
    'Cát': 0.3,
    'Vàng': 0.3,
    'Ghi': 0.2,
    'Xanh': 0.1,
    'Xám': 0.1,
    'Bạc': 0,
    'Trắng': 0,
}

def normalize_in_color(in_color):
    return types[in_color] * WEIGHT

df['normalized_in_color'] = df['in_color'].apply(normalize_in_color)

## Normalize "door_num" filed

In [9]:
WEIGHT = 1

def number_door_num(door_num):
    door_num = re.findall(r'[\d]+', door_num)
    return int(door_num[0])

df['number_door_num'] = df['door_num'].apply(number_door_num)

max_num = df['number_door_num'].max()
min_num = df['number_door_num'].min()

def normalize_door_num(door_num):
    return (door_num - min_num) / (max_num - min_num) * WEIGHT

df['normalized_door_num'] = df['number_door_num'].apply(normalize_door_num)

## Normalize "seat_num" filed

In [10]:
WEIGHT = 1

def number_seat_num(seat_num):
    seat_num = re.findall(r'[\d]+', seat_num)
    return int(seat_num[0])

df['number_seat_num'] = df['seat_num'].apply(number_seat_num)

max_num = df['number_seat_num'].max()
min_num = df['number_seat_num'].min()

def normalize_seat_num(seat_num):
    return (seat_num - min_num) / (max_num - min_num) * WEIGHT

df['normalized_seat_num'] = df['number_seat_num'].apply(normalize_seat_num)

## Normalize "new_old" filed

In [11]:
WEIGHT = 1

def normalize_new_old(new_old):
    result = 0
    if new_old == 'Xe cũ':
        result =  1
    return result * WEIGHT

df['normalized_new_old'] = df['new_old'].apply(normalize_new_old)

## Normalize "car_year" filed

In [12]:
WEIGHT = 1

def number_car_year(car_year):
    car_year = re.findall(r'[\d]+', car_year)
    return int(car_year[0])

df['number_car_year'] = df['car_year'].apply(number_car_year)

max_num = df['number_car_year'].max()
min_num = df['number_car_year'].min()

def normalize_car_year(car_year):
    return (car_year - min_num) / (max_num - min_num) * WEIGHT

df['normalized_car_year'] = df['number_car_year'].apply(normalize_car_year)

## Normalize "price" filed

In [13]:
WEIGHT = 1

def number_price(price):
    price = re.findall(r'[\d]+', price)
    if len(price) == 2:
        return int(price[0]) * 1000 + int(price[1])
    return int(price[0])

df['number_price'] = df['price'].apply(number_price)

max_num = df['number_price'].max()
min_num = df['number_price'].min()

def normalize_price(price):
    return (price - min_num) / (max_num - min_num) * WEIGHT

df['normalized_price'] = df['number_price'].apply(normalize_price)

## Save to arff file

In [15]:
import arff

columns = [
    'normalized_km',
    'normalized_imp_exp',
    'normalized_car_type',
    'normalized_out_color',
    'normalized_in_color',
    'normalized_door_num',
    'normalized_seat_num',
    'normalized_new_old',
    'normalized_car_year',
    'normalized_price',
]
df = df.loc[:, columns]

arff.dump('datasets/normalized_car.arff', df.values, names=columns)

df

,normalized_km,normalized_imp_exp,normalized_car_type,normalized_out_color,normalized_in_color,normalized_door_num,normalized_seat_num,normalized_new_old,normalized_car_year,normalized_price
0,0.000000,1,1.0,1.0,1.0,0.089286,0.148936,1,0.566667,0.015726
1,0.000000,1,1.0,0.0,1.0,0.089286,0.148936,1,0.566667,0.014476
2,0.000000,1,1.0,0.0,0.5,0.089286,0.148936,1,0.533333,0.011601
3,0.000000,1,1.0,1.0,0.4,0.089286,0.148936,0,0.866667,0.116606
4,0.000002,1,1.0,0.0,0.3,0.089286,0.148936,1,0.833333,0.084979
...,...,...,...,...,...,...,...,...,...,...
39416,0.000000,1,0.2,0.0,0.5,0.035714,0.042553,1,0.833333,0.037852
39417,0.000000,0,0.2,0.1,0.5,0.035714,0.063830,1,0.700000,0.002600
39418,0.000006,0,0.4,1.0,0.1,0.017857,0.617021,1,0.900000,0.028726
39419,0.000000,0,0.2,0.1,0.5,0.035714,0.063830,1,0.600000,0.001975
39420,0.000000,0,0.2,0.1,0.5,0.035714,0.063830,1,0.600000,0.001600